* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    background-color: darkblue;
    height: 80px;
}

h1 {
    text-align: center;
    padding: 20px;
    color: white;
}

.container {
    max-width: 1500px;

}

.input {
    padding-bottom: 10px;
    
}

input {
    background-color: white;
    width : 280px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
}

button {
    width : 290px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(52, 169, 241);
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

